@charset "utf-8";
/*页面布局*/
body{
	width:100%; 
	margin:0; 
	padding:0;
	background:url(../images/main_bg.png);		
	font:10px "宋体";
}

a{
	color:#0080ff;
	text-decoration:none;
}

.mainDiv{	
	width:100%;
	margin:0 auto;	
	text-align:center;
}
.layoutDiv{
	width:980px;
	margin:0 auto;	
	text-align:center;
	padding:5px;
	background:#ffffff;
}

/*查询表格*/
.queryTab{
	width:90%;
	border:solid #000; 
	border-width:1px 0px 0px 1px;
	border-collapse:collapse;	
	margin:0 auto;	
	text-align:center;
}
.queryTab th{
	text-align:right;
	border:solid #000; 
	border-width:0px 1px 1px 0px;	
	padding-left:10px;
	padding-right:10px;	
	background:#cfd1e2;
}
.queryTab td{
	text-align:left;	
	border:solid #000; 
	border-width:0px 1px 1px 0px;
	padding-left:10px;
	padding-right:10px;
}
.queryButtonDiv{
	width:90%;	
	margin:0 auto;	
	text-align:center;
	padding:10px;
}


/*列表表格*/
.listTab{
	width:90%;	
	border:solid #000000; 
	border-width:1px 1px 1px 1px;
	border-collapse:collapse;
	margin:0 auto;	
	text-align:center;
}

.listTab th{
	text-align:center;
	border:solid #000; 
	border-width:0px 0px 0px 0px;	
	padding-left:10px;
	padding-right:10px;	
	background:#cfd1e2;
	
}

.listTab td{
	text-align:center;
	border:solid #000; 
	border-width:0px 0px 0px 0px;	
	padding-left:10px;
	padding-right:10px;	
}

/*输入框*/
.inputText{
	border:solid #408080; 
	border-width:1px 1px 1px 1px;
	width:180px;
}

.button_normal{
	background-image:url(../images/button_normal.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	height:30px;
	width:100px;
	border:0px;
}