@charset "utf-8";
/*页面布局*/
body{
	width:100%; 
	margin:0; 
	padding:0;
	background:url(../images/main_bg.png);			
}

.mainDiv{	
	width:100%;
	margin:0 auto;	
	
}
.layoutDiv{
	width:980px;
	margin:0 auto;	
	padding:5px;	
}
