a.link:link {
   color: #0178B4; text-decoration: none;
}
a.link:visited {
   color: #0178B4; text-decoration: none;
}
a.link:active {
   color: #0178B4; text-decoration: none;
}
a.link:hover {
   color: #FF0000; text-decoration: none;
}

.toolbarTd {
	padding-left: 2px;
	padding-right: 2px;
}

.dialogTr {
}

.dialogTd {
	color: #222222;
}

.inputReadonly {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
}

.childFrame {
	z-index: 20;
	position: absolute;
	background-color: #FFFFFF; 
	top: 0;
	left: 0;
}

/* 树形搜索样式 */
.treeSearchInput {
	color: #222222;
	border: 1px solid #95B8E7; 
	height: 18px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.treeSearchButton {
	color: #034277; 
	background-color: #CDE1F9; 
	border: #95B8E7 1px solid; 
	height: 18px; 
	width: 50px; 
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}


/* 字典多选对话框样式 */

.multiSelect {
	font:9pt "宋体"; 
}

.dictSearchInput {
	color: #222222;
	padding-top: 3px; 
	height: 20px; 
	border: 1px solid #95B8E7; 
	background: #FFFFFF;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.dictSearchButton {
	color: #034277;
	background-color: #CDE1F9; 
	border: 1px solid #95B8E7;
	height: 20px; 
	width: 50px;
	cursor: pointer;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.buttonMultiSelect {
	cursor: pointer;
	width: 32px; 
	height: 30px;
}

.buttonAddAll {
	width: 18px;
	height : 18px;
	background: url('../../skin/images/but_leftRight1.gif') no-repeat top;
	cursor: pointer;
}

.buttonAddSelect {
	width: 18px;
	height : 18px;
	background: url('../../skin/images/but_leftRight2.gif') no-repeat top;
	cursor: pointer;
}

.buttonRemoveSelect {
	width: 18px;
	height : 18px;
	background: url('../../skin/images/but_leftRight3.gif') no-repeat top;
	cursor: pointer;
}

.buttonRemoveAll {
	width: 18px;
	height : 18px;
	background: url('../../skin/images/but_leftRight4.gif') no-repeat top;
	cursor: pointer;
}

