.icon-add{
	background:url('icons/normal_add.png') no-repeat center center;
}
.icon-attach{
	background:url('icons/normal_attach.png') no-repeat center center;
}
.icon-back{
	background:url('icons/normal_back.png') no-repeat center center;
}
.icon-blank{
	background:url('icons/normal_blank.gif') no-repeat center center;
}
.icon-cancel{
	background:url('icons/normal_cancel.png') no-repeat center center;
}
.icon-choose{
	background:url('icons/normal_choose.png') no-repeat center center;
}
.icon-config{
	background:url('icons/normal_config.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/normal_cut.png') no-repeat center center;
}
.icon-data{
	background:url('icons/normal_data.png') no-repeat center center;
}
.icon-excel{
	background:url('icons/normal_excel.png') no-repeat center center;
}
.icon-favorite{
	background:url('icons/normal_favorite.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/normal_filter.png') no-repeat center center;
}
.icon-flowArchive{
	background:url('icons/normal_flowArchive.png ') no-repeat center center;
}
.icon-flowBack{
	background:url('icons/normal_flowBack.png') no-repeat center center;
}
.icon-flowCatchBack{
	background:url('icons/normal_flowCatchBack.png') no-repeat center center;
}
.icon-flowEnd{
	background:url('icons/normal_flowEnd.png') no-repeat center center;
}
.icon-flowSend{
	background:url('icons/normal_flowSend.png') no-repeat center center;
}
.icon-flowSponsor{
	background:url('icons/normal_flowSponsor.png') no-repeat center center;
}
.icon-flowStamp{
	background:url('icons/normal_flowStamp.png') no-repeat center center;
}
.icon-flowStart{
	background:url('icons/normal_flowStart.png') no-repeat center center;
}
.icon-flowWrite{
	background:url('icons/normal_flowWrite.png') no-repeat center center;
}
.icon-help{
	background:url('icons/normal_help.png') no-repeat center center;
}
.icon-history{
	background:url('icons/normal_history.png') no-repeat center center;
}
.icon-home{
	background:url('icons/normal_home.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/normal_lock.png') no-repeat center center;
}
.icon-manage{
	background:url('icons/normal_manage.png') no-repeat center center;
}
.icon-modify{
	background:url('icons/normal_modify.png') no-repeat center center;
}
.icon-moveDown{
	background:url('icons/normal_moveDown.png') no-repeat center center;
}
.icon-moveLeft{
	background:url('icons/normal_moveLeft.png') no-repeat center center;
}
.icon-moveRight{
	background:url('icons/normal_moveRight.png') no-repeat center center;
}
.icon-moveUp{
	background:url('icons/normal_moveUp.png') no-repeat center center;
}
.icon-no{
	background:url('icons/normal_no.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/normal_ok.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/normal_pencil.png') no-repeat center center;
}
.icon-position{
	background:url('icons/normal_position.png') no-repeat center center;
}
.icon-preview{
	background:url('icons/normal_preview.png') no-repeat center center;
}
.icon-print{
	background:url('icons/normal_print.png') no-repeat center center;
}
.icon-query{
	background:url('icons/normal_query.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/normal_redo.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/normal_reload.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/normal_remove.png') no-repeat center center;
}
.icon-report{
	background:url('icons/normal_report.png') no-repeat center center;
}
.icon-reset{
	background:url('icons/normal_reset.png') no-repeat center center;
}
.icon-save{
	background:url('icons/normal_save.png') no-repeat center center;
}
.icon-search{
	background:url('icons/normal_search.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/normal_sum.png') no-repeat center center;
}
.icon-time{
	background:url('icons/normal_time.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/normal_tip.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/normal_undo.png') no-repeat center center;
}
.icon-user{
	background:url('icons/normal_user.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}

.icon-drawCircle {
	background:url('icons/icon_rad01.png') no-repeat center center;
}

.icon-drawRect {
	background:url('icons/icon_reg01.png') no-repeat center center;
}

.icon-drawPolygon {
	background:url('icons/icon_poly01.png') no-repeat center center;
}

.icon-drawPolygon {
	background:url('icons/icon_poly01.png') no-repeat center center;
}

.icon-draw {
	background:url('icons/draw.png') no-repeat center center;
}

.icon-treeroot1{
	background:url('icons/root.gif') no-repeat center center;
}
.icon-treeroot2{
	background:url('icons/root_menu.gif') no-repeat center center;
}

.tree-leaf {
	background:url('icons/tree_leaf.png') no-repeat center center;
}

.tree-position {
	background:url('icons/tree_position.gif') no-repeat center center;
}

.tree-user {
	background:url('icons/tree_user.gif') no-repeat center center;
}

.tree-org {
	background:url('icons/tree_org.gif') no-repeat center center;
}

.tree-workgroup {
	background:url('icons/tree_workgroup.gif') no-repeat center center;
}

.butSelect1 {
	cursor: pointer; 
	background: #EEF2F8;
	border: 1px solid #082F4F;
	height: 20px; 
	width: 48px;
}

.butSelect2 {
   height: 40px;
   width: 48px;
   border: 0px;
   background:url('icons/but_bgSelect2.jpg') no-repeat top;
   cursor: pointer;
}

.butSelect2Disabled {
   height: 40px;
   width: 48px;
   border: 0px;
   background:url('icons/but_bgSelect2.jpg') no-repeat bottom;
   cursor: pointer;
}

.butMoveUp {
   height: 20px;
   width: 20px;
   border: 0;
   background: url('icons/normal_moveUp.png') no-repeat center center;
   cursor: pointer;
}

.butMoveDown {
   height: 20px;
   width: 20px;
   border: 0;
   background: url('icons/normal_moveDown.png') no-repeat center center;
   cursor: pointer;
}
.icon-biaodian{
	background:url('icons/but_biaodian.png') no-repeat center center;
}
.icon-xls{
	background:url('icons/xls.gif') no-repeat center center;
}